* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  grid-area: header;
  background: linear-gradient(to right, #333, #444);
  color: white;
  padding: 20px 0px 0px;
}

main {
  grid-area: main;
  background-color: #bfbfbf;
  padding: 20px;
}

aside {
  grid-area: aside;
  background-color: #e5e5e5;
  padding: 20px;
}

footer {
  grid-area: footer;
  background: linear-gradient(to right, #333, #444);
  color: white;
  text-align: center;
  padding: 30px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color: black;
  padding: 15px 0;
  margin-top: 15px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}
